@import './variables/variables';

* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    background-color: $anthrazit;
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size;
}
